extends ../layout

block js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='/js/delete-btn.js')

block content
  table.table.table-striped
    thead
      tr
        th Username
        th First Name
        th Last Name
        th Roles
        th Delete
    tbody
      each listUser in users
        if listUser.roles.indexOf('admin') == -1
          tr
            td= listUser.username
            td= listUser.firstName
            td= listUser.lastName
            if listUser.roles.length != 0
              td= listUser.roles
            else
              td No roles
            td
              button(class='delete-btn btn btn-danger btn-block', user-data=listUser.id) REMOVE
