extends ../layout

block content
  h1= title

  ul
    each comment in comments
      li
        strong UserId:&nbsp;
        span= comment.userId
        br
        strong Username:&nbsp;
        span= comment.username
        br
        strong EventId:&nbsp;
        span= comment.eventId
        br
        strong Content:&nbsp;
        span= comment.content
