extends ./layout

block content
  .container
    .row.jumbotron
      h1 Welcome To Event System!
      p The place where you can manage your events!
    .panel.panel-success.col-md-5
      .panel-heading
        .panel-title
          | Top 10 newest events
      .panel-body
        table.table
          thead
            tr
              th Name
              th Comments
              th Author
          tbody
            each event in newestEvents
              tr
                td
                  a(href="/events/" + event._id)= event.title
                td= event.comments.length
                td
                  a(href="/users/" + event.userId)= event.username
    .col-md-2
    .panel.panel-success.col-md-5
      .panel-heading
        .panel-title
          | Top 10 commented events
      .panel-body
        table.table
          thead
            tr
              th Name
              th Comments
              th Author
          tbody
            each event in mostCommentedEvents
              tr
                td
                  a(href="/events/" + event._id)= event.title
                td= event.comments.length
                td
                  a(href="/users/" + event.userId)= event.username
