extends ../layout

block content
  h1 ...
  h1= title

  h1= event.title
  h3= event.description

  p
  a.btn.btn-(class='button', href='/events/' + event.id + '/addComment') Add comment

  ul
    each comment in comments
      li
        strong= comment.user
        span
          | :
        span= comment.content
