extends ../layout

block js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='/js/join-event-btn.js')

block content
  .col-sm-6
    h1
      | Title:&nbsp;
      =event.title
    p
        | Date:&nbsp;
        = event.date
    p
      | Town:&nbsp;
      = event.town
    p
      | Username:&nbsp;
      = event.username
    p
      | Description:&nbsp;
      = event.description

    .row
      button(class='join-event-btn btn btn-success col-sm-3', event-data=event.id) Join


  .col-sm-6
    img(src='#{event.image}' class='img-thumbnail')

  br
  .container
    h1 Comments:
        a.btn.btn-info.col-sm-3.pull-right(class='button', href='/events/' + event.id + '/addComment') Add comment
    .row
      hr
      ul
        each comment in comments
          .panel.panel-default
            .panel-heading Made by:
              strong
                a(href="/users/" + comment.userId)= comment.username
            .panel-body= comment.content
            hr
    h1 Users joined:
      .row
        hr
        ul
          each user in event.users
            .panel.panel-default
              .panel-heading
                strong
                  a(href="/users/" + user.userId)= user.username
              hr
